/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 30px 0;

  .counters {
    span {
      font-size: 48px;
      display: block;
      color: $crimson;
      font-weight: 700;
    }

    p {
      padding: 0;
      margin: 0 0 20px 0;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: #37423b;
    }
  }
}
