/*--------------------------------------------------------------
# Course Details
--------------------------------------------------------------*/
.course-details h3 {
  font-size: 24px;
  margin: 30px 0 15px 0;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #eef0ef;
    bottom: 0;
    left: 0;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 1px;
    background: $crimson;
    bottom: 0;
    left: 0;
  }
}

.course-details .course-info {
  background: #f6f7f6;
  padding: 10px 15px;
  margin-bottom: 15px;

  h5 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  p {
    margin: 0;
    font-weight: 600;
  }
  
  a {
    color: #657a6d;
  }
}
