// Footer

#footer {
  color: #37423b;
  font-size: 14px;
  background: $secondary;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: $light;

  h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444;
    position: relative;
    padding-bottom: 12px;
  }
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;

  h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777;
  }
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    i {
      padding-right: 2px;
      color: $crimson;
      font-size: 18px;
      line-height: 1;
    }

    li {
      padding: 10px 0;
      display: flex;
      align-items: center;

      &:first-child {
        padding-top: 0;
      }
    }

    a {
      color: #777;
      transition: 0.3s;
      display: inline-block;
      line-height: 1;

      &:hover {
        text-decoration: none;
        color: $crimson;
      }
    }
  }
}

#footer .footer-newsletter {
  font-size: 15px;

  h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444;
    position: relative;
    padding-bottom: 12px;
  }
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #e0e5e2;

  input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }

  input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: $crimson;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0 2px 15px rgba(#000, 0.1);

    &:hover {
      background: darken($crimson, 5%);
    }
  }
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;

  a {
    color: darken($crimson, 5%);
    transition: 0.3s;

    &:hover {
      color: $crimson;
    }
  }
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: $crimson;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;

  &:hover {
    background: darken($crimson, 5%);
    color: #fff;
    text-decoration: none;
  }
}
