// Header

#header {
  background: $body-bg;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0 0 18px rgba(55, 66, 59, 0.08);

  .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;

    a {
      color: $crimson;
    }

    img {
      max-height: 40px;
    }
  }
}
