// Pricing

.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border: 1px solid #eef0ef;
  border-radius: 0;
  position: relative;
  overflow: hidden;
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777;
  background: #f8f8f8;
}

.pricing h4 {
  font-size: 36px;
  color: #5fcf80;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;

  sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }

  span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;

  li {
    padding-bottom: 16px;
  }

  i {
    color: #5fcf80;
    font-size: 18px;
    padding-right: 4px;
  }

  .na {
    color: #ccc;
    text-decoration: line-through;
  }
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #5fcf80;
  display: inline-block;
  padding: 8px 35px;
  border-radius: 50px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;

  &:hover {
    background: #3ac162;
  }
}

.pricing .featured h3 {
  color: #fff;
  background: #5fcf80;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #5fcf80;
  color: #fff;
}
