// Testimonials

.testimonials .testimonial-wrap {
  padding-left: 50px;

  @media (max-width: 767px) {
    padding-left: 0;
  }
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  border: 1px solid $secondary;
  position: relative;
  background: $body-bg;

  .testimonial-img {
    width: 90px;
    border-radius: 10px;
    //border: 6px solid #fff;
    position: absolute;
    left: -45px;

    @media (max-width: 767px) {
      position: static;
      left: auto;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }

  h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }

  .quote-icon-left,
  .quote-icon-right {
    color: lighten($primary, 25%);
    font-size: 26px;
  }

  .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }

  .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }

  p {
    font-style: italic;
    margin: 15px auto 15px auto;
  }

  @media (max-width: 767px) {
    padding: 30px;
    margin: 15px;
  }

}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;

  --swiper-pagination-color: $primary;

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: $cultured;
    opacity: 1;
    border: 1px solid $primary;
  }

  .swiper-pagination-bullet-active {
    background: $primary;
  }
}
