// Why Us

.why-us .content {
  padding: 30px;
  background: $primary;
  border-radius: 4px;
  color: $body-bg;
}

.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .content p {
  margin-bottom: 30px;
}

.why-us .content .more-btn {
  display: inline-block;
  background: rgba($primary, 0.2);
  padding: 6px 30px 8px 30px;
  color: $body-bg;
  border: 1px solid $body-bg;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;

  i {
    font-size: 14px;
  }

  &:hover {
    color: $primary;
    background: $body-bg;
  }
}

.why-us .icon-boxes .icon-box {
  text-align: center;
  background: $body-bg;
  padding: 40px 30px;
  width: 100%;
  border: 1px solid darken($body-bg, 25%);

  i {
    font-size: 32px;
    padding: 18px;
    color: $primary;
    margin-bottom: 30px;
    background: lighten($primary, 37%);
    border-radius: 50px;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }

  p {
    font-size: 15px;
    color: lighten($body-color, 10%);
  }
}
